/* Fonts */

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       ("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Robotobold"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Robotomedium"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-whiten: #283136;
  --basic-white: #FFFFFF;
  --basic-grey: #EEEEEE;
  --basic-grey-whiten: #E1E1E1;
  --basic-grey-dark: #A6A6A6;
  --basic-grey-darken: #666666;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;

  --special-black-whiten: #4D4D4D; /* special - цвета используемые при интерактиве */
  --special-green: #00BC6C;
  --special-green-dark: #00AA62;
  --special-grey: #DFDFDF;
  --special-grey-dark: #B4B9BB;
  --special-grey-darken: #D5D5D5;
  --special-grey-blacken: #444444;
  --special-grey-white: #D7DCDE;
  --special-grey-whiten: #DBDBDB;
  --special-red: #E74246;
  --special-red-dark: #D7373B;
  --special-yellow: #EAB534;
  --special-yellow-dark: #E5A722;
  --special-capacity-white: rgba(255,255,255,0.3);
  --special-capacity-black:  rgba(0,0,0,0.3);
  --special-capacity-blacken:  rgba(0,0,0,0.6);

}

/* Global */

.page-body {
  min-width: 1440px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  box-sizing: border-box;
  color: var(--basic-black);
  background-color: var(--basic-white);

  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  border-radius: 3px;
  border: none;
}

.button_interactive:hover {
  background-color: var(--special-red);
}

.button_interactive:focus {
  background-color: var(--special-red-dark);
  color: var(--special-capacity-white);
}

.container {
  width: 1160px;
  margin: 0 auto;
  outline: 5px dotted rgba(0,0,0,0.3);    /* Рамка для отладки*/
  outline-offset: -5px;                     /* Рамка для отладки*/
}

/* main-header */

.main-header {
  background-color: var(--basic-grey);
  outline: 5px solid rgba(0,255,0,0.7); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
}

.main-header__logo {
  outline: 5px solid rgba(255,0,0,0.3); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
}

.main-header__nav {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.nav {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-row: 20px;
  grid-column: 0;
  padding-top: 50px;
}

.logo:focus path {
  fill: var(--basic-grey-dark);
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 5px solid rgba(255,0,255,0.3); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
}

.nav__link {
  color: var(--basic-black);
}

.nav__link:hover {
  color: var(--basic-red);
}

.nav__link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.cart {
  outline: 5px solid rgba(0,255,255,0.3); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
}

                          /* main for index.html */

/* slider */

.slider {
  background-color: var(--basic-grey);
}

.slider__list {
  list-style: none;
  padding: 80px 0;
  margin: 0;
}

.slide {
  text-align: left;
  outline: 5px solid rgba(0,255,255,0.3); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
}

.slide__slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slide__text {
  color: var(--basic-black-whiten);
}

.slide__link {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

/* services */

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;
  list-style: none;
  padding: 80px 0;
  margin: 0;
  border-bottom: 2px solid var(--basic-grey);
}

.item-services__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black-whiten);
  text-transform: uppercase;
}

.item-services__text {
  color: var(--basic-black-whiten);
}

.item-services {
  text-align: left;
  padding-right: 60px;
  outline: 5px solid rgba(0,255,255,0.3); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
}

.item-services::before {
  width: 300px;
  height: 146px;
  content: "";
  display: block;
}

 .item-services_websites::before {
  background-color: var(--basic-red);
  }

.item-services_apps::before {
  background-color: var(--basic-green);
}

.item-services_presentations::before {
  background-color: var(--basic-yellow);
}

.item-services__link {
  color: var(--basic-white);
}

.item-services__link_websites {
  background-color: var(--basic-red);
}

.item-services__link_websites:hover {
  background-color: var(--special-red);
}

.item-services__link_websites:focus {
  background-color: var(--special-red-dark);
  color: var(--special-capacity-white);
}

.item-services__link_apps {
  background-color: var(--basic-green);
}

.item-services__link_apps:hover {
  background-color: var(--special-green);
}

.item-services__link_apps:focus {
  background-color: var(--special-green-dark);
  color: var(--special-capacity-white);
}

.item-services__link_presentations {
  background-color: var(--basic-yellow);
}

.item-services__link_presentations:hover {
  background-color: var(--special-yellow);
}

.item-services__link_presentations:focus {
  background-color: var(--special-yellow-dark);
  color: var(--special-capacity-white);
}

/* about */

.about {
  padding-top: 40px;
}

.about-grid {
  display: grid;
  grid-template-columns: 8fr 4fr;
  column-gap: 100px;
}

.about__article {
  outline: 5px solid rgba(255,0,0,0.3); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
  text-align: left;
}

.about__indicators {
  outline: 5px solid rgba(0,0,255,0.3); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
}

.article-about__tagline {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.article-about__text {
  color:var(--basic-black-whiten);
}

.article-about__head {
  text-transform: uppercase;
  font-weight: 700;
  color:var(--basic-black-whiten);
}

.article-about__capabilities {
  list-style: none;
  padding: 0;
  margin: 0;
}

.capabilities__item {
  color:var(--basic-black-whiten);
}

.indicators::before {
  content: "";
  display: block;
  height: 208px;
  order: 1;
  background-color: var(--basic-red);
}

.indicators__table {
  padding: 0;
  margin: 0;
}

.table-indicators__title {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.table-indicators__names td {
  line-height: 18px;
  color: var(--basic-black-whiten);
}

.table-indicators__numbers td {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.table-indicators__numbers sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

/* customers */

.customers {
  padding: 80px 0;
  outline: 5px solid rgba(0,0,255,0.3); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
}

.customers__list {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  list-style: none;
  padding: 0;
  margin: 0;
  border-top:  2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
}

.customers__item {
  opacity: 0.2;
}

.customers__item:hover {
  opacity: 1;
}

.customers__link:focus {
  opacity: 0.1;
}

                          /* main for catalog.html */

/* catalog-title */

.catalog-title {
  padding: 55px 0 108px 0;
  outline: 5px solid rgba(0,255,0,0.7);  /* Рамка для отладки*/
  outline-offset: -5px;                     /* Рамка для отладки*/
  background-color: var(--basic-grey);
}

.catalog-title__text {
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

/* catalog-block */

.catalog-grid {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 150px 1fr; /* Без этой строчки сетка не строится*/
  column-gap: 140px;
}

/* filter */

.filter {
  grid-column: 1/2;
}

.form-filter {
  outline: 5px solid rgba(189, 46, 177, 0.7);
  outline-offset: -5px;
}

.cost-filter__legend,
.fieldset__legend,
.sorting__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.fieldset__list,
.sorting__list {
  list-style: none;
}

.cost-filter__label,
.cost-filter__input {
  line-height: 22px;
  color: var(--basic-black-whiten);
  text-transform: uppercase;
}

.fieldset__item {
  line-height: 19px;
  color: var(--basic-black-whiten);
}

.form-filter__button {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.form-filter__button:hover {
  background-color: var(--special-grey);
}

.form-filter__button:focus {
  background-color: var(--special-grey-darken);
  color: rgba(0,0,0,0.3);
  outline: 1px solid transparent;
}

.sorting {
  grid-column: 2/-1;
  height: min-content;
  outline: 5px solid rgba(241, 75, 103, 0.7);
  outline-offset: -5px;
}

.sorting__link {
  color: var(--special-capacity-black);
  text-transform: uppercase;
}

.sorting__link:hover {
  color: var(--special-capacity-blacken);
}

.sorting__link:focus {
  color: var(--basic-black);
}

/* catalog */

.catalog {
  grid-column: 2/-1;
  height: min-content;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(255,0,255,0.3); /* Рамка для отладки*/
  outline-offset: -5px;                     /* Рамка для отладки*/
}

.item-catalog {
  outline: 5px solid rgba(118, 80, 224, 0.3); /* Рамка для отладки*/
  outline-offset: -5px;                         /* Рамка для отладки*/
}

.item-catalog__img {
  background-color: var(--basic-grey-dark);
}

.item-catalog__desc {
  background-color: var(--basic-grey);
}

.item-catalog__title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.item-catalog__title a:hover {
  color: var(--basic-red);
}

.item-catalog__title a:focus {
  color: var(--special-capacity-black);
}

.item-catalog__about {
  line-height: 18px;
  color: var(--basic-grey-darken);
}

.item-catalog__link {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.item-catalog__link:hover {
  background-color: var(--special-red);
}

.item-catalog__link:focus {
  background-color: var(--special-red-dark);
}

.catalog__pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 5px solid rgba(118, 80, 224, 0.3);  /* Рамка для отладки*/
  outline-offset: -5px;                           /* Рамка для отладки*/
}

.pagination__link {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.pagination__link:hover {
  background-color: var(--special-grey);
}

.pagination__link:focus {
  background-color: var(--special-grey-darken);
  color: rgba(0,0,0,0.3);
}

.pagination__link-current {
  background-color: var(--basic-white);
}

/* main-footer */

.main-footer {
  outline: 5px solid rgba(255,0,0,0.7); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
}

.contacts__map {
  background-image: url("../img/map.jpg");
  background-color: var(--basic-grey-dark);
}

.contacts__block {
  text-align: left;
  width: 319px;
  min-height: 308px;
  padding-left: 50px;
  outline: 5px solid rgba(0,255,0,0.7); /* Рамка для отладки*/
  outline-offset: -5px;                   /* Рамка для отладки*/
}

.block-contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.block-contacts__address,
.block-contacts__tel {
  font-style: normal;
  line-height: 24px;
  color: var(--basic-grey-darken);
}

.block-contacts__tel {
  display: block;
}

.block-contacts__link-modal {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.main-footer__container {
  display: grid;
  grid-template-columns: 4fr 8fr;
  column-gap: 40px;
  row-gap: 20px;
  padding: 68px 0;
}

.socials__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.socials__item {
  display: inline;
}

.main-footer__also {
  text-align: left;
}

.also__tagline {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.also__promotion {
  line-height: 22px;
  color: var(--special-grey-blacken);
  padding: 0;
  margin: 0;
}

/* Modal */

.modal__title {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}

.field__label {
  line-height: 18px;
  font-weight: 700;
}

.field__input {
  line-height: 18px;
  color: var(--special-capacity-blacken);
  border: 1px solid var(--special-capacity-black);
  border-radius: 3px;
}

.field__input:hover {
  border: 1px solid var(--special-capacity-blacken);
}

.field__input:focus,
.field__input:focus::placeholder {
  color: var(--basic-black);
  border: 1px solid var(--basic-black);
}

.form-modal__button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  outline: 1px solid transparent;
}
